.block_side_bar li { clear: both; }
.block_side_bar li .column { width: 100%; }
.block_side_bar li .buttons { float: right; margin: 0; }
.dir-rtl .block_side_bar li .buttons { float: left; }
.block_side_bar li .buttons a img{ vertical-align: text-bottom; }
.block_side_bar .footer { margin-top: 1em; }
.block_side_bar .section_add_menus noscript div { display: inline; }
